<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">Credit Card Payment</div>
        <div class="panel-body">
            <form name='ccPaymentForm' ng-submit='processCreditCard(ccPaymentForm)' novalidate=''>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="fullName">Name on Card</label>
                        <input type="text" ng-model="fullName" class="form-control" id="fullName" name="fullName" required placeholder="Name on Card">
                        <span ng-show="ccPaymentForm.fullName.$error.required && submitted" class="text-danger">Name on Card is required.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="ccNumber">Card Number</label>
                        <div class="input-group">
                            <input type="number" class="form-control" name='ccNumber' ng-model='ccNumber'  placeholder="Card Number" required ng-pattern="/^([0-9]){16}$/">
                            <span ng-class="validateCreditCard()" class="form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <div ng-show="(ccPaymentForm.ccNumber.$error.pattern || ccPaymentForm.ccNumber.$error.validCard) && submitted" class="text-danger">Credit Card Number is invalid</div>
                        <div ng-show="ccPaymentForm.ccNumber.$error.required && submitted" class="text-danger">Credit Card number is Required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="cvv">Month</label>
                        <select class="form-control" ng-model="month">
                            <option value="Jan">Jan</option>
                            <option value="Feb">Feb</option>
                            <option value="Mar">Mar</option>
                            <option value="Apr">Apr</option>
                            <option value="May">May</option>
                            <option value="Jun">Jun</option>
                            <option value="Jul">Jul</option>
                            <option value="Aug">Aug</option>
                            <option value="Sep">Sep</option>
                            <option value="Oct">Oct</option>
                            <option value="Nov">Nov</option>
                            <option value="Dec">Dec</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <label for="cvv">Year</label>
                        <select class="form-control" ng-model="year">
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <label for="cvv">CVV</label>
                        <input type="number" class="form-control" ng-model='cvv' id="cvv" name="cvv" placeholder="CVV" ng-minlength="3" ng-maxlength="3" required>
                        <span ng-show="(ccPaymentForm.cvv.$error.minlength || ccPaymentForm.cvv.$error.naxlength) && submitted" class="text-danger">Invalid CVV</span>
                        <span ng-show="ccPaymentForm.cvv.$error.required && submitted" class="text-danger">CVV is Required</span>
                    </div>
                </div>
                <button type="submit" class="btn-primary btn-lg pull-right">Submit</button>
            </form>
        </div>
    </div>
</div>
